@import "./reset.css";
@import "./normalize.css";

/* Your code starts here! */

.container {
  width: 920px;
  margin: auto;
  padding-top: 96px;
}

.d-inline-block {
  display: inline-block;
}

.card {
  display: inline-block;
}

.navbar {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(170, 163, 32, 0.10688025210084029) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  width: 920px;
  position: fixed;
  top: 0;
  transition: transform 1s;
}

.navbar-hide {
  transform: translateY(-100%);
}
.nav {
  margin: 40px 0;
}

.nav-item {
  margin: 0 30px;
  color: tomato;
}

.nav-item:hover {
  color: olive;
}

.jumbotron {
  width: 90%;
  margin: 40px auto 70px;
}

.logo {
  padding-bottom: 30px;
}

.slogan-card {
  font-size: 80px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.btn-start {
  vertical-align: top;

  background: transparent;
}

.divider {
  background-color: black;
  height: 2px;
  border: 0;
}

.features {
  padding: 0 2px;
}

.features > .card-medium:nth-child(1) {
  margin-right: 25px;
}

.card-medium {
  width: 48%;
  margin: 45px 0;
}

.card-title {
  font-size: 22px;
}

.card-content {
  font-size: 19px;
}

.middle-img {
  width: 100%;
}

.card-small {
  width: 30%;
  margin: 40px 0;
  margin-right: 35px;
}

.services > .card-small:last-of-type {
  margin-right: 0;
}

.card-address {
  width: 200px;
  margin: 40px 0;
}

.card-address-content {
  margin-bottom: 30px;
}

.card-address-content:last-of-type {
  margin-bottom: 0;
}

.copyright {
  text-align: center;
  margin-bottom: 50px;
}
